<div class="row" style="border: 1px solid #ccc;">
    <h2 class="text-center text-primary">Services</h2>
        <div class="col-lg-3 col-md-4 col-sm-6" >
            <h3>Programming</h3>
            <div class="media-body media-middle">
                <p>Bespoke applications built to your requirements a range of support packages allowing flexibility </p>
            </div>

        </div>
    <div class="col-lg-3 col-md-4 col-sm-6">


            <h3>Design</h3>
            <div class="media-body media-middle">
                <p>We cater for your needs, you decide we produce, your themes or a custom look avoiding the off the shelf feel</p>
            </div>

        </div>
    <div class="col-lg-3 col-md-4 col-sm-6">


            <h3>Photography</h3>
            <div class="media-body media-middle">
                <p>No time to take the pictures? We offer a photographic service to help get started, or on going as required  </p>
            </div>

        </div>
    <div class="col-lg-3 col-md-4 col-sm-6">


        <h3>Graphics</h3>
        <div class="media-body media-middle">
            <p>What could be easier? Get started fast with this landing page starter theme.</p>
        </div>

    </div>




</div>